In [12]:
patient1 = {
    "id": 1,
    "charges": [
        {"date": "2020-01-01", "rev_code": "123", "hcpcs": "J1234", "amount": 100},
        {"date": "2020-01-01", "rev_code": "123", "hcpcs": "C1234", "amount": 100},
        {"date": "2020-01-01", "rev_code": "123", "hcpcs": "Q1234", "amount": 100},
    ],
}

In [13]:
rates = [
    {"name": "J Codes", "hcpcs": "J1234", "rate": 0.5},
    {"name": "C Codes", "hcpcs": "C1234", "rate": 0.4},
    {"name": "Q Codes", "hcpcs": "Q1234", "rate": 0.3},
]

In [14]:
# create dataframes
import pandas as pd

patient1_df = pd.DataFrame(patient1['charges'])
rates_df = pd.DataFrame(rates)

# Perform inner join on hcpcs field
join_df = patient1_df.merge(rates_df, on='hcpcs') # inner join (joinType default is 'inner')

join_df

         date rev_code  hcpcs  amount     name  rate
0  2020-01-01      123  J1234     100  J Codes   0.5
1  2020-01-01      123  C1234     100  C Codes   0.4
2  2020-01-01      123  Q1234     100  Q Codes   0.3